# Non-source R files
*.Rproj.user
*.Rhistory
*.RData
.Rproj.user*
.Rproj*

# locked files
*.~lock*

# unnecessary folders
/shinyapps
/data/extras
/data/random

# sensitive files
RunClusterMouseAutism.R
.Rproj.user
