# History files
.Rhistory
.Rapp.history

# Non-source R files
*.RData
.Rproj*

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# locked files
*.~lock*

# unnecessary folders
/shinyapps
/data/extras
/data/random
